<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Product Name="DriveMapper" Manufacturer="Drew Schmidt" Version="1.0.0.0" UpgradeCode="3288ffbf-e83a-49b1-a062-eb5a23521f83">
    <Package InstallerVersion="500"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes"
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of DriveMapper is already installed." />
    <MediaTemplate />
    <Condition Message="DriveMapper requires administrator privileges for installation.">
      <![CDATA[Installed OR Privileged]]>
    </Condition>

    <Feature Id="DriveMapperFeature" Title="DriveMapper" Level="1">
      <ComponentGroupRef Id="DriveMapperComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="DriveMapper" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="ProgramDataDriveMapper" Name="DriveMapper" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="DriveMapperComponents">
      <Component Id="cmpDriveMapperExe" Guid="09707932-5b17-4890-9f97-1e78423ef482" Directory="INSTALLFOLDER">
        <File Id="filDriveMapperExe" Source="!(bindpath.DriveMapperBin)DriveMapper.exe" KeyPath="yes" />
      </Component>

      <Component Id="cmpProgramDataFolder" Guid="17557cd1-ec44-4e6d-8864-fddf934a24b6" Directory="ProgramDataDriveMapper">
        <CreateFolder>
          <util:PermissionEx User="BUILTIN\\Administrators" GenericAll="yes" />
          <util:PermissionEx User="BUILTIN\\Users" GenericRead="yes" />
        </CreateFolder>
      </Component>

      <Component Id="cmpDefaultProfiles" Guid="45bf5ed6-a14a-48cd-a9d2-ffc33e78d124" Directory="ProgramDataDriveMapper">
        <File Id="filProfilesJson" Source="$(var.ProjectDir)Defaults\Profiles.json" KeyPath="yes" />
        <util:PermissionEx User="BUILTIN\\Administrators" GenericAll="yes" />
        <util:PermissionEx User="BUILTIN\\Users" GenericRead="yes" />
      </Component>

      <Component Id="cmpEventLog" Guid="b4e3de7e-6db8-4471-9797-5d46f2bb0792" Directory="INSTALLFOLDER">
        <util:EventSource Log="Application" Source="DriveMapper" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
