<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package Name="DriveMapper"
           Manufacturer="Drew Schmidt"
           Version="1.0.0"
           UpgradeCode="d070d48d-b621-4c2f-b93e-824fc86e8a6d"
           Scope="perMachine"
           InstallerVersion="500"
           Compressed="yes">

    <Feature Id="MainFeature" Title="DriveMapper" Level="1">
      <ComponentGroupRef Id="App_Binaries"/>
      <ComponentRef Id="ProgData_Profiles"/>
      <ComponentRef Id="EventLog_Source"/>
      <ComponentRef Id="StartMenu_Shortcut"/>
    </Feature>
  </Package>

  <Fragment>
    <!-- Program Files install dir -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLDIR" Name="DriveMapper" />
    </StandardDirectory>

    <!-- ProgramData with ACLs -->
    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="DM_PROGDATA" Name="DriveMapper" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="DM_Menu" Name="DriveMapper" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="App_Binaries" Directory="INSTALLDIR">
      <Component Guid="f5f8fbbb-1c06-4e9c-b31e-6ef524dcf0c4">
        <File Source="$(var.DriveMapperExe)" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Component Id="ProgData_Profiles" Directory="DM_PROGDATA" Guid="9dbb243c-bd6d-4699-8c9c-2889ee6a7111">
      <File Id="ProfilesJson" Source="$(var.ProfilesJson)" KeyPath="yes" />
    </Component>

    <Component Id="EventLog_Source" Directory="INSTALLDIR" Guid="e6b4cc04-1ca9-484b-a387-4b6331f327f8">
      <RegistryKey Root="HKLM" Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\DriveMapper" ForceDeleteOnUninstall="yes">
        <RegistryValue Name="EventMessageFile" Type="string" Value="[INSTALLDIR]DriveMapper.exe" />
        <RegistryValue Name="TypesSupported" Type="integer" Value="7" />
      </RegistryKey>
    </Component>

    <Component Id="StartMenu_Shortcut" Directory="DM_Menu" Guid="323fe11c-4e30-455b-acfb-82e89d47ece2">
      <Shortcut Name="DriveMapper" Target="[INSTALLDIR]DriveMapper.exe" WorkingDirectory="INSTALLDIR" />
      <RegistryValue Root="HKCU" Key="Software\DriveMapper" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>
  </Fragment>

</Wix>
